.dropdown {
    &__list {
        display: none;
        position: absolute;
        right: 0;
        z-index: 100;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    }

    &__item {
        display: flex;
        //justify-content: space-around;
        list-style: none;

        //&:after {
        //    content: '';
        //    width: 100%;
        //    height: 1px;
        //    background-color: #e6e6e6;
        //}
    }

    &__link {
        width: 10.9rem;
        margin: .2rem 0;
        padding: .625rem;
        font-size: .875rem;
        text-decoration: none;
        color: #404040;

        &:hover {
            background-color: #ececec;
        }
    }

    &__list--active {
        display: block;
    }
}
