@import "../../../../Theme/theme";
.current-month {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: rem(288);
    &__date {
        display: flex;
        flex-direction: column;
    }
    .year {
        align-self: flex-end;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-size: rem(12);
    }
    .month {
        margin-top: rem(-7);
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-size: rem(40);
        width: rem(170);
        text-align: center;
    }
    &__left-arrow {
        margin-right: rem(10);
        font-size: rem(40);
    }
    &__right-arrow {
        margin-left: rem(10);
        font-size: rem(40);
    }
}
