@import '../Theme/theme.scss';
.date-picker {
    width: rem(250);
    //height: rem(250);
    outline: $gray-80 solid 1px;
    position: absolute;
    background: #fff;
   padding: rem(10);
    color: $black;

.date-picker__grid {
    * {
        margin: 0;
        padding: 0;
        height: rem(29);

    }

    li {
        list-style: none;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    //width: 200px;
    margin: 0;
    padding: 0;


}

.date-picker_week-days {
  //margin-top: rem(10);
  display: flex;
  align-items: center;
  align-content: center;

}
&__cell{

}
.date-picker__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
&__cell{
  //height: rem(30);
}
}
