@import '../Theme/theme.scss';
.date-picker {
    width: rem(230);
    //height: rem(250);
    outline: $gray-80 solid 1px;
    position: absolute;
    background: #fff;
    padding: rem(10);
    color: $black;
    box-sizing: border-box;
&__grid {
    * {
        margin: 0;
        padding: 0;
        height: rem(29);

    }

    li {
        list-style: none;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    //width: 200px;
    margin: 0;
    padding: 0;


}

&__week-days {
  //margin-top: rem(10);
  display: flex;
  align-items: center;
  align-content: center;
  background: #fff;
  justify-content: space-between;
}
    &__week-day{
        background: #808080;
        width: rem(28);


    }
&__cell{

}
&__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
&__cell{
  //height: rem(30);
}
}
