.c-date__cell {
    width: 14%;
    height: 140px;
    background: #fafafa;
    margin: 2px 0;
}
 .today {
     background: #95d5e1;
 }

 .other-month{
     background: #e6e6e6;
 }

 .c-calendar {
     background: #f6f6f7;
 }
