@import'../../../../Theme/theme';

.c-date__cell {
    width: 14%;
    height: 140px;
    margin: 2px 0;
    background: #fafafa;
    box-shadow: 0 rem(1) rem(1) 0 #a9a9a9;
    position: relative;
    .date {
        display: inline-block;
        margin: rem(8)rem(10);
        font-size: rem(26);
    }
}
 .today {
     background: radial-gradient(circle, #95d5e1, #74a5af);
     color: #fff;
 }

 .today .date::after {
     content: 'сегодня';
     margin-left: rem(2);
     font-size: rem(14);
 }

 .other-month{
     background-color: #e6e6e6;
 }

 .c-calendar {
     background-color: #f6f6f7;
 }

 .c-date--event-list {
     position: absolute;
     width: 110%; //тимчасово
     height: auto;
     top: rem(-15);
     left: rem(-9);
     border: $border-button-gray;
     border-radius: $border-rad-button;
     box-shadow: rem(0) rem(3) rem(7) rem(0) rgba(0, 0, 0, 0.5);
     z-index: 1000;
 }


