@import'../../../Theme/theme';
.week {
    display: flex;
    justify-content: space-between;
    &__item {
        width: 14%;
        height: rem(40);
        //margin: rem(2);
        line-height: 2.5rem;
        text-align: center;
        background-color: #ececec;
        box-shadow: 0 rem(1) rem(1) 0 #a9a9a9;
    }
}


.c-calendar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
