.c-event-window {
    * {
        margin: 0;
        padding: 0;
        border: none;
    }

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: rem(27);
    //width: 30rem;
    //height: 20rem;
    background: #ccc;

    &__event-title {
        flex-basis: 75%;
        margin: rem(25);

    }

    &__event-type {
        flex-basis: 25%;
    }

    &__date-block {
        display: flex;
        flex-basis: 50%;
        font-size: .75rem;
        justify-content: center;
        flex-wrap: wrap;
        align-items: baseline;
        align-content: flex-start;
    }
    &__span-title {
        display: inline-block;
        flex: 1 1 48%;
        text-align: right;
    }

    &__date-span {
        display: inline-block;
        flex: 1 1 48%;
        padding-left: 5px;
        cursor: pointer;
        text-decoration: underline;
        text-align: left;
    }

    &__checkbox {
    }

    &__descr-title {
        flex-basis: 100%;
        text-align: center;
    }

    &__description {
        margin-top: 10px;
    }

    &__location {
        margin-top: 10px;
    }

    &__control-block {
        display: flex;
        flex-basis: 100%;
    }

    &__button {
        margin-top: 15px;
        outline: solid cyan 1px;
        flex-basis: 25%;
    }
}
